<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155531708882-0rm8bu42tmke741ref8vgm6u30qvo4el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155531708882-0rm8bu42tmke741ref8vgm6u30qvo4el</string>
	<key>API_KEY</key>
	<string>AIzaSyC3dOSN_tRzsLn9IDsXN1bzM8xN-bWyyNU</string>
	<key>GCM_SENDER_ID</key>
	<string>155531708882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahar.Lists</string>
	<key>PROJECT_ID</key>
	<string>lists-44dff</string>
	<key>STORAGE_BUCKET</key>
	<string>lists-44dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155531708882:ios:61ccd2600b436977</string>
	<key>DATABASE_URL</key>
	<string>https://lists-44dff.firebaseio.com</string>
</dict>
</plist>